[submodule "_theme_packages/hooligan"]
	path = _theme_packages/hooligan
	url = https://github.com/dhulihan/hooligan.git
[submodule "_theme_packages/the-program"]
	path = _theme_packages/the-program
	url = https://github.com/jekyllbootstrap/theme-the-program.git
